---
// @ts-nocheck
import { BaseLayout } from "../layouts";
import {
	Button,
	Experience,
	Greeting,
	HomeSection,
	SkillChip,
	Spacer,
} from "../components";
import fsLogo from "../assets/images/familysearch-logo.png";
---

<BaseLayout pageTitle="Home">
	<div class="home-container">
		<Greeting />
		<div class="home-right">
			<HomeSection title="Experience">
				<Experience
					image={fsLogo.src}
					company="FamilySearch"
					tenure="Aug 2022 - Present"
					skills={[
						"React",
						"JavaScript",
						"SCSS",
						"Jest",
						"Storybook",
						"GitHub",
						"Jira",
						"Heroku",
						"Split",
						"Figma",
					]}
				/>
			</HomeSection>
			<Spacer size="xs" />
			<HomeSection title="Projects">
				<Experience
					image={fsLogo.src}
					company="Nyoom"
					skills={["React", "Next.js", "SCSS", "Cypress", "Photoshop", "XD"]}
				/>
				<Experience
					image={fsLogo.src}
					company="Just Pick Something"
					skills={["HTML", "CSS", "JavaScript", "XD"]}
				/>
				<Experience
					image={fsLogo.src}
					company="Circle Tracks"
					skills={["Angular", "SCSS", "JavaScript", "Photoshop", "XD"]}
				/>
			</HomeSection>
			<Spacer size="xs" />
			<HomeSection title="Education">
				<Experience image={fsLogo.src} company="BYU-Idaho" skills={[]} />
			</HomeSection>
			<Spacer size="xxl" />
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.home-container {
		display: flex;
		justify-content: space-between;
		gap: 150px;
		padding-top: 60px;
	}

	.home-right {
		width: 100%;
	}
</style>
