---
// @ts-nocheck
import { Bleed, ListItem, SkillChipList, Spacer, TextBlock } from ".";
import experience from "../data/experience";
import fsLogo from "../assets/images/familysearch-logo.png";
---

{experience.map((item) => (
  <div class="experience-container">
    <ListItem imageUrl={item.image} title={item.company} description={item.tenure} />
    {item.positions.map((position) => (
      <TextBlock heading={position.title} text={position.description} />
    ))}
    <SkillChipList skills={item.skills} />
  </div>
  <Spacer size="nano" />
))}

<style lang="scss">
  .experience-container {
    padding: 16px;
    border-radius: var(--border-rad);
    transition: 250ms ease;

    &:hover {
      background: var(--foreground-transparent);
    }
  }
</style>
