---
// @ts-nocheck
const { title, data, url } = Astro.props;
import { Bleed, ListItem, SkillChipList, Spacer, TextBlock } from ".";
import arrowRight from '../assets/icons/arrow-right.png'
---

<section class="home-section-container">
  <a class="home-section-title-container" href={url}>
    <h2 class="home-section-title">{title}</h2>
    <img class="home-section-arrow" src={arrowRight.src} height={26} width={26} />
  </a>
  {!data && <Spacer size="xxs" />}
  <slot />
  <Bleed sides={16}>
    {data?.map((item) => (
      <div class="experience-container" id={item.company || item.title}>
        <ListItem imageUrl={item.image} title={item.company || item.title} description={item.tenure || item.description} />
        <Spacer size="xs" />
        <SkillChipList skills={item.skills} />
        {item.positions?.map((position) => (
          <TextBlock heading={position.title} text={position.description} />
        ))}
      </div>
      <Spacer size="nano" />
    ))}
  </Bleed>
  <Spacer size="sm" />
</section>

<style lang="scss">
  .home-section-title {
    font-size: 28px;
    font-weight: 600;
    margin: 0px;

    &-container {
      display: flex;
      align-items: center;
      gap: 6px;
      margin-top: 12px;
      margin-bottom: 8px;
    }
  }

  .home-section-arrow {
    position: relative;
    left: 0px;
    transition: 150ms ease;

    &-hover {
      left: 6px;
    }
  }

  .experience-container {
    padding: 16px;
    border-radius: var(--border-rad);
    transition: 250ms ease;

    &:hover {
      background: var(--foreground-transparent);
      cursor: pointer;
    }
  }
</style>

<script>
  // Animate arrows in headings on hover
  document.addEventListener("astro:page-load", () => {
    const containers = document.querySelectorAll('.home-section-title-container');
    const arrows = document.querySelectorAll('.home-section-arrow');
    
    containers.forEach((container, index) => {
      const arrow = arrows[index];
      container.addEventListener('mouseenter', () => arrow.classList.add('home-section-arrow-hover'));
      container.addEventListener('mouseleave', () => arrow.classList.remove('home-section-arrow-hover'));
    });
  });

  // Navigate to projects or experience page on when clicking on a hovered item
  document.addEventListener("astro:page-load", () => {
    const containers = document.querySelectorAll(".experience-container");

    containers.forEach((container) => {
      const containerId = container.getAttribute('id').toLowerCase().replace(/ /g, '-');
      container.addEventListener('click', () => {
        window.location.href = `/projects#${containerId}`;
      });
    });
  })
</script>
