---
// @ts-nocheck
const { actions, description, imageUrl, title } = Astro.props;
import { Button } from '.' 
---

<div class="list-item-container">
  {
    imageUrl && (
      <div class="list-item-image-container">
        <img class="list-item-image" src={imageUrl} alt={`${title} logo`} />
      </div>
    )
  }

  <div class="list-item-text-container">
    <h3 class="list-item-title">{title}</h3>
    <p class="list-item-description">{description}</p>
  </div>

  <div class="list-item-right">
    {actions && (
      actions.map((action) => <Button emphasis="medium" to={Object.values(action)} target="_blank" client:load>{Object.keys(action)}</Button>)
    )}
  </div>
</div>

<style>
  .list-item-container {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .list-item-text-container {
    flex-grow: 1;
  }

  .list-item-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 38px;
    width: 38px;
    padding: 6px;
    background: var(--foreground);
  }

  .list-item-image {
    width: 100%;
  }

  .list-item-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 4px;
  }

  .list-item-description {
    font-size: 14px;
    color: var(--text-secondary);
    margin: 0px;
  }

  .list-item-text-container {
    flex-grow: 1;
  }

  .list-item-right {
    display: flex;
    gap: 16px;
    margin-right: 6px;
  }
</style>
