---
const { title, description, image } = Astro.props
---

<meta charset="utf-8" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={description} />
<meta property="og:url" content="https://ryanbey.dev">
<meta property="og:type" content="website">
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content={image} />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image}>
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="ryanbey.dev">

<!-- Google Analytics Integration -->
<script is:inline type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-W50BK6YG8J"></script>
<script is:inline type="text/partytown">
  window.dataLayer = window.dataLayer || []
  const gtag = () => dataLayer.push(arguments)
  gtag('js', new Date())
  // Only collect anonymous data for GDPR compliance and because I don't need all that heat man
  gtag('consent', 'default', { ad_storage: 'denied', ad_user_data: 'denied', ad_personalization: 'denied', analytics_storage: 'denied' })
  gtag('config', 'G-W50BK6YG8J')
</script>
