---
// @ts-nocheck
const { id, project } = Astro.props
import { Button, ListItem, ProjectGallery, Spacer, SkillChipList } from '.'
---

<section class="project-container">
  <ListItem title={project.title} description={project.description} imageUrl={project.image} actions={project.links} />
  <Spacer size="xs" />
  <SkillChipList skills={project.skills} />
  <Spacer size="sm" />
  {project?.positions?.map((position, index) => {
    return (
      <>
        <p class="project-description">{position.description}</p>
        {index !== project.positions.length - 1 && <Spacer size="xxs" />} 
      </>
    )
  })}
  <div style={{ flexGrow: 1 }} />
  <Spacer size="sm" />
  <ProjectGallery images={project.gallery} client:load />
</section>

<style>
  .project-container {
    display: flex;
    flex-direction: column;
    background: var(--foreground-transparent);
    padding: 16px;
    border-radius: var(--border-rad);
  }

  .project-description {
    font-size: 16px;
    line-height: 150%;
    margin: 0
  }

  .images-container {
    display: flex;
    gap: 8px;
    max-width: 100%;
  }
  
  .project-image {
    border-radius: var(--border-rad);
    width: 100%;
  }
</style>