---
// @ts-nocheck
const { id, project } = Astro.props
import { Button, ListItem, ProjectGallery, Spacer, SkillChipList } from '.'
import visitIcon from '../assets/icons/visit.png'
import gitHubIcon from '../assets/icons/github-logo.svg'
---

<section class="project-container" id={id}>
  {project?.gallery?.length && (
    <ProjectGallery images={project.gallery} client:load />
    <Spacer size="xs" />
  )}
  <ListItem title={project.title} description={project.description} imageUrl={project.image} />
  <Spacer size="xs" />
  <SkillChipList skills={project.skills} />
  <Spacer size="xs" />
  {project?.positions?.map((position, index) => (
    <>
      <p class="project-description">{position.description}</p>
      {index !== project.positions.length - 1 && <Spacer size="xxs" />} 
    </>
  ))}
  <Spacer size="xs" />
  <div style={{ flexGrow: 1 }} />
  <div class="project-actions">
    {project?.links.map((action) => (
      <Button
        emphasis="medium"
        icon={
          Object.keys(action) == 'Visit' || Object.keys(action) == 'Prototype' ? visitIcon : gitHubIcon
        }
        iconSize="sm"
        to={Object.values(action)}
        target="_blank"
        client:load
      >
        {Object.keys(action)}
      </Button>)
    )}
  </div>
</section>

<style>
  .project-container {
    display: flex;
    flex-direction: column;
    background: var(--foreground-transparent);
    padding: 16px;
    border-radius: var(--border-rad);
  }

  .project-description {
    font-size: 16px;
    line-height: 150%;
    margin: 0
  }

  .project-actions {
    display: flex;
    gap: 16px;
  }
</style>