---
// @ts-nocheck
const { project } = Astro.props
import { Button, Card, ListItem, Spacer, SkillChipList } from '.'
import visitIcon from '../assets/icons/visit.png'
import gitHubIcon from '../assets/icons/github-logo.svg'
---

<Card images={project?.gallery} actions={project?.links}>
  <ListItem title={project.title} description={project.description} imageUrl={project.image} />
  <Spacer size="xs" />
  <SkillChipList skills={project.skills} />
  <Spacer size="xs" />
  {project?.positions?.map((position, index) => (
    <>
      <p class="project-description">{position.description}</p>
      {index !== project.positions.length - 1 && <Spacer size="xxs" />} 
    </>
  ))}
</Card>

<style>
  .project-description {
    font-size: 16px;
    line-height: 150%;
    margin: 0
  }
</style>